//out:styles.css

@color-1: #4d1a00;
@color-2: lighten(@color-1, 85%);

* {
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
  box-sizing: border-box;
}

body {
  background-color: @color-1;
}

#wrapper {
  min-width: 320px;
  max-width: 960px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  color: @color-2;
  margin: 50px 0;
}

#table {
  width: 75%;
  margin: 0 auto;
  color: @color-2;
  text-align: center;
  font-size: 125%;
  #table-row-head {
    font-weight: bold;
    background-color: @color-2;
    color: @color-1;
    border: none;
    padding: 7.5px 0;
    border-radius: 40px 0;
  }
  .table-row {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    border-bottom: 2.5px solid @color-2;
  }
  .table-col-name {
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 2.5px solid @color-2;
  }
  .table-col-days {
    display: flex;
    div {
      flex: 1 1 0;
      margin: 10px auto;
      input {
        font-size: 200%;
      }
    }
  }
  .table-col-days-missed {
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 2.5px solid @color-2;
  }
  :last-child {
    border-bottom: none;
  }
}
